VAPID_PUBLIC=BGGhuQ3V8F2cPaRMkxgyohLn9A3CTKL0PjCvwdFRxJPjHDnN5xLpkmUtqpBKqmR4NwpWKnLb9_hFxWMh9U7LtDE
VAPID_PRIVATE=TU_LLAVE_PRIVADA_AQUI
VAPID_EMAIL=mailto:admin@navimag.cl
PUSH_SECRET=MANTEK_PUSH_SECRET_2026
